@import url('https://fonts.googleapis.com/css2?family=Irish+Grover&display=swap');
::-webkit-scrollbar {
    width: 10px;
}
    /* Track */
::-webkit-scrollbar-track {
    background: linear-gradient(0deg, rgba(168,237,234,1) 0%, rgba(254,214,227,1) 100%);
}
    /* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
}
    /* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}

html, body
{
    min-width: 260px;
}
*
{
    font-family: sans-serif;
    letter-spacing: 1px; 
    
}
/* styling nav */
.nav-custom
{
    background-color: #1451B8;
}
.container-fluid .navbar-brand, .container-fluid .nav-link {
    color: rgb(255, 255, 255);
}
.container-fluid .nav-link.active,
.container-fluid .navbar-brand:hover,
.container-fluid .navbar-toggler-icon,
.container-fluid .nav-link.focus,
.container-fluid .nav-link:hover {
    color: rgb(164, 72, 203);
}
.logo
{
    padding-bottom: 1vh;
    height: 5rem;
    width:  5rem;
}

.hamburger{
    display: none;
}
/* Slide 1 */

.para1 p,h1 {
    max-width: 623px; 
    font-size: 18px;
    line-height: 1.6; 
    margin-bottom: 15px; 
    text-align: center;
    animation: slidein 3s forwards;
}
.mainbody
{
    /* background: linear-gradient(90deg, rgba(168,237,234,1) 0%, rgba(254,214,227,1) 100%); */
    background-color: rgb(177, 241, 238);
    overflow-x: hidden;
    overflow-y: auto;
}

.custom-link
{
    font-family: "Irish Grover",sans-serif;
}
@keyframes slidein {
    from {
        margin-left: 100%;
        width: 300%; 
    }

    to {
        margin-left: 50%;
        width: 100%;
    }
}
/* Footer */
.profile-photo
{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width:200px;
    height:auto;
}
footer
{
    background-color: #333; 
    color: #fff; 
    padding: 20px; 
    text-align: center; 
    position:relative; 
    left: 0;
    bottom: 0; 
    width: 100%; 
}
/* Mobile */